@CHARSET "UTF-8";
body{
    background-color: black;
    background-image: url("../resources/images/fooldal_background.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

#pergament {
    padding-top: 1%;
    text-align: center;
    width: 1000px;
    margin: auto;
    background-image: url("../resources/images/papir.jpg");
    background-repeat: repeat-y;
}

#pergament h1 {
    font-family: 'Lucida Bright', Georgia, serif;
    font-size: 50px;
    color: saddlebrown;
    text-shadow: 1px 1px black;
}

#koltseg {
    margin-left: 10%;
    text-align: left;

    font-family: 'Lucida Bright', Georgia, serif;
    font-size: 25px;
    color: saddlebrown;
}
#koltseg h2 {
    font-size: 35px;
    text-shadow: 1px 1px black;
}

.piros {
    color: red;
    text-shadow: 1px 1px black;
}

#bKep {
    width: 300px;
    margin-left: -50%;
}


ul#nav {
    list-style: none;
    margin: 0 0 0 0;
}

ul#nav li {
    display: inline;
    margin-right: 10px;

}


ul#nav a{
    background-color: burlywood;
    padding: 5px;
    border: inset;
    text-decoration: none;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px saddlebrown;
}


#laktanya {
    padding-top: 100px;
    text-align: left;
    margin-left: 10%;
    font-family: 'Lucida Bright', Georgia, serif;
    font-size: 20px;
    color: saddlebrown;

}

#laktanya_tamad {
    padding-top: 100px;
    text-align: left;
    margin-left: 10%;
    margin-right: 40%;
    font-family: 'Lucida Bright', Georgia, serif;
    font-size: 20px;
    color: saddlebrown;

}

#nyilt_kereskedo_felulet {
    text-align: left;
    margin-left: 10%;
    padding-top: 100px;
    font-family: 'Lucida Bright', Georgia, serif;
    font-size: 25px;
    color: saddlebrown;
    font-weight: bold;
    text-shadow: 1px 1px black;
    width: 45%;
}

#kereskedo_felulet {
    margin-left: 10%;
    padding-top: 10px;
    text-align: left;
    font-family: 'Lucida Bright', Georgia, serif;
    font-size: 20px;
    color: saddlebrown;
    font-weight: bold;
}

.piac_cimkék {
    font-size: 20px;
    text-shadow: 1px 1px black;
}

#piac_kuldes {
    clear: both;
    margin-left: 10%;
    float: left;
    padding-top: 20px;
    text-align: left;
}