@CHARSET "UTF-8";

body{
    background-color: black;
    background-image: url("../resources/images/fooldal_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#menu {
    margin: auto;
    max-width: 1000px;
    height: 150px;

    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    color: #820606;
    text-align: center;
    line-height: 150px;
}

#menu a {
    padding-left: 25px;
    color: #820606;
    text-decoration: none;
    text-shadow: 5px 2px 13px rgba(0, 0, 0, 1);
}

#bejelentkezes, #hirek, #kontakt, #regisztracio {
    margin: auto;
    background-image: url("../resources/images/pergament.png");
    max-width: 1000px;
    height: auto;
    box-shadow: -30px 30px 70px black;
}

#fejlec{
    heiht: 100px;
    width: 220px;

    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 100px;
    text-shadow: 5px 2px 13px rgba(0, 0, 0, 1);
}

fieldset {
    margin-top: 3em;
    border:0;
}
label {
    float:left;
    width: 6%;
    margin-right:0.5em;
    padding-top:0.5em;
    text-align:right;
    font-weight:bold;
}

#newhir{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

#change-image {
    margin-left: 40px;
}

#captcha {
    margin-left: 40px;
}

h1.hhir {
    color: red;
}

p.szhir {
    color: black;
}